.searchGroup{
    width: 100%;

    div{

        input{
            width: 100%;
            font-size: 0.9rem;
            height: 35px;
            border-radius: 5px;
            padding-left: 10px;
            background-color: #242f3d;
            color: #fff;
        }
    }
}