.InputForMessage{
    width: 100%;
    background-color: #17212b;
    display: flex;
    align-items: center;

    height: 2.5rem;

    form{
        padding: 0 10px;
        width: 100%;
        input{
            width: 100%;
            font-size: 0.9rem;
            background-color: #17212b;
            color: #fff;
            font-family: 'Roboto';
        }
    }
}